div {
  display: flex;
  font-size: 18px;
}

.row {
  margin: 0 auto;
}

.btn {
  white-space: normal;
}

.btn p {
  white-space: pre;
  margin: 0 auto;
}

.dropdown .dropdown-menu {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;

  max-height: 0;
  display: block;
  min-width: 10px;
  overflow: hidden;
  opacity: 0;
}

.dropdown:hover .dropdown-menu {
  max-height: 200px;
  opacity: 1;
}

.underNavBar {
  border-top: rgb(216, 216, 216) solid 1px;
}

.link {
  font-size: 1rem;
  color: #000;
  padding: 7px 5px 7px 6px;
  font-weight: bold;
  border: 1px solid #000;
}

.nav-link {
  padding: 5px;
}

input[type="text"] {
  width: 200px;
  height: 50px;
}

span[type="search"] {
  width: 50px;
  height: 50px;
  font-size: 1.5rem;
  text-align: center;
  background-color: #f7f7f7;
}

footer {
  background-color: rgb(58, 63, 70);
  color: #f7f7f7;
  text-align: center;
  padding-bottom: 1rem;
  font-size: 0.5rem;
}

footer ul {
  margin: 0.2rem 0;
}

footer li {
  list-style: none;
}

footer section:last-child {
  margin-top: 0.5rem;
}

footer i {
  margin: 0 1rem 1rem 1rem;
  font-size: 1rem;
}

footer p {
  margin-bottom: 0.2rem;
  font-size: 0.8rem;
}

.card-deck:first-child {
  margin: 0.5rem auto 0.5rem auto;
}

.card-footer p span {
  font-size: 1rem;
  flex-flow: row nowrap;
}

/* responsive for phone here */
@media (max-device-width: 768px) and (min-device-width: 320px) {
  h3 {
    font-size: 1rem;
  }

  .link {
    font-size: 0.7rem;
    color: #000;
    font-weight: bold;
    border: 1px solid #000;
    padding: 7px 5px 7px 6px;
  }
}
